@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
body,
html {
	box-sizing: border-box;
}
html {
	font-size: 100%;
	scroll-behavior: smooth;

	@include responsive(lap) {
		font-size: 85%;
	}

	@include responsive(mob) {
		font-size: 60%;
	}
}
body {
	// min-height: 700vh test Only;
	line-height: 1.7;
	font-family: var(--mainFont);
}
