footer#Footer.footer 
    .container: div.footer__wrapper.text-center.d-flex.flex-column.justify-content-around.align-items-center
        figure.footer__logo.py-3
            a.footer__logo--link(href='#'): img.footer__logo--img(src="./img/brands/logo.png", alt="logo")
        h5.footer__title.text-uppercase.text-center.font-weight-bold follow me
        .footer__socialMedia.my-5.d-flex.align-items-center
            -const icons = ['facebook', 'instagram', 'youtube', 'twitter']
            each icon in icons
                a.footer__contact(href="#", class=`${icon}`): i(class=`fab fa-${icon}`)
        p.footer__copyright Copyright &copy;2021 All rights reserved | This template is made with by #[b.text-uppercase mando]
