section#contact.contact
            .container: .contact__bg
                .contact__heading.text-center
                    h2.contact__heading--title.text-uppercase get update from anywhere
                    p.contact__heading--info.light-p.py-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. In suscipit, iste doloribus numquam itaque illum!
                form.form-inline.justify-content-center.contact__form
                    label.sr-only(for='contactEmail') Email
                    input#contactEmail.form-control.mb-2.mr-sm-2.contact__form--input(type='email' placeholder='Email')
                    button.btn.btn-primary.mb-2.ml-5.contact__form--btn(type='submit') Submit
