header.banner
    .container
        .row
            section.col-lg-6.col-md-12.banner__titles
                h4.text-uppercase.banner__titles--1 hey
                h2.text-uppercase.banner__titles--2 i am mandor
                h3.text-uppercase.banner__titles--3 front end developer
                .buttons-group
                    .btn.button-primary.button.text-uppercase.mr-4(type='button') hire me
                    .btn.button-sec.button.text-uppercase(type='button') get cv

            figure.col-lg-6.col-md-12.banner__image
                img.img-fluid(src="./img/banner/banner-image.png", alt="banner")
