nav.navbar.navbar-expand-lg.navbar-light
    .container-fluid
        a.navbar-brand(href='#')
            img(src="./img/brands/logo.png", alt="logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                -const navItems = ['home', 'about', 'services', 'portfolio', 'pages', 'blog', 'contact']
                each item in navItems
                    li.nav-item
                        a.nav-link(aria-current='page' href='#') #{item}
