$primary-color-100: #4458dc;
$primary-color-200: #854fee;
$text-color-100: #141313;
$text-color-200: #777777;
$white-dark: whitesmoke;
$white-color: #fff;
$black-color: #000;
$border-color-100: #201f1f17;
$gradient-color-100: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
$shadow-color-100: 0px 10px 30px rgba(118, 85, 225, 0.3);
$shadow-100: 0px 10px 30px rgba(57, 56, 61, 0.205);
$mainFont: 'Roboto', sans-serif;
$padding-100: 1rem;
$padding-200: 2rem;
$padding-300: 3rem;
$margin-500: 5rem;
$margin-500-xl: 10rem;
$gap-100: 1rem;
